import "compass/css3";

@import "compass/css3/transform";
@import url(https://fonts.googleapis.com/css?family=Bangers);
.pagetitle {
  text-align: center;
}
.navbar-text {
  background-color: transparent;
  border: none;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
}

.navbar-text:hover {
  color: #2e6da4;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #6c757d;
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  font-size: 1.5rem;
  padding: 0.75rem 0;
}

}
.navshadow {
  -webkit-box-shadow: 10px 10px 39px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 10px 10px 39px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 10px 10px 39px 0px rgba(0, 0, 0, 0.4);
}

.btn {
  margin-right: 5px;
}

.statement {
  padding: 1em 0.5em;
  margin: 0 auto;
}

#edit-text {
  color: black;
}

.logo {
  height: 50px;
  width: 50px;
  padding: 5px;
  margin-top: 5px;
}
.about {
  font-family: "Noto Serif SC", serif;
}

.container-fluid {
  background-image: url(../images/background.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}


.my-container {
  padding: 3%;
  background-color: whitesmoke;
  height: 500px;
  width: 700px;
  margin-top: 3%;
  -webkit-box-shadow: 10px 10px 39px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 39px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 39px 0px rgba(0, 0, 0, 0.75);
}
.my-containermeetup {
  width: 500px;
  overflow-y: scroll;
}
.my-containerpopup {
  padding: 3%;
  background-color: whitesmoke;
  min-height: 400px;
  width: 700px;
  margin-top: 3%;
  margin-bottom: 3%;
  -webkit-box-shadow: 10px 10px 39px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 39px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 39px 0px rgba(0, 0, 0, 0.75);
}

body {
  background-image: url(../images/background.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.profile-imgpop {
  height: 120px;
  width: 120px;
}
body > div.container.my-container > div {
  padding: 10px;
}

.row {
  padding-top: 5%;
}
.searchnav {
  margin-right: 3px;
}
#navtitle {
  padding: 0px;
  margin: 0px;
}
.title {
  float: left;
}
.navbar-right {
  padding-right: 5px;
}
@media (max-width: 575.98px) {
  .navbar-toggler-icon  > .container,
  .navbar-toggler-icon  > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}



@media (max-width: 575.98px){
 .navbar-toggler-icon {
    display: block;
  }
}
